@model D2D.WebApp.ViewModel.FoodMenuVM
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb pl-0">
                    <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Menu</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Item</li>
                </ol>
            </nav>
            <!-- <div class="alert alert-success" role="alert">
                       <strong>Well done!</strong> You successfully read this important alert message.
                    </div> -->
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>Add Food item</h6>
                </div>
                <div class="ms-panel-body">
                    <form class="needs-validation clearfix" autocomplete="off" enctype="multipart/form-data">
                        <div class="form-row">

                            <div class="col-md-6 mb-3">
                                <!-- <label for="vali/dationCustom18">Item Name</label> -->
                                <label for="validationCustom12"><b>Item Names</b></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="itemName" id="itemName">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="validationCustom22"><b>Main Category</b></label>
                                <div class="input-group">
                                    <select class="form-control" id="subcat" name="itemMainCategoryName">
                                        <option name="itemMainCategoryName" id="itemMainCategoryName">Select Main Category</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select Sub Catagory.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom12"><b>Sub Catagory</b></label>
                                <div class="input-group">
                                    <select class="form-control" id="subval" value="itemSubCategoryName">
                                        <option value="itemSubCategoryName" id="itemSubCategoryName" name="itemSubCategoryName">Select Sub Category</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please provide a message.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom22"><b>Food Type</b></label>
                                <div class="input-group">
                                    <select name="itemFoodType" id="itemFoodType" class="form-control">
                                        <option value="true">VEG</option>
                                        <option value="false">NON</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select Food type.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom18" id="fullNameValidationError"><b>Quantity</b></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="itemQuantity" name="itemQuantity">
                                    <div class="valid-feedback">
                                        Nice Quantity!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom18" id="fullNameValidationError"><b>Price</b></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="itemPrice" name="itemPrice">
                                    <div class="valid-feedback">
                                        Good Price!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom12"><b>Select AddOns</b></label>
                                <div class="form-row addOnCheckboxs">
                                    <div class="col-md-4 mb-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="addOnId" value=" ">
                                            <label class="form-check-label" for="flexCheckDefault">Choose your Bread </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="addOnId" value=" ">
                                            <label class="form-check-label" for="flexCheckDefault">Choose your 3 fillings</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="addOnId" value=" ">
                                            <label class="form-check-label" for="flexCheckDefault">Choice of Milk</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="addOnId" value=" ">
                                            <label class="form-check-label" for="flexCheckDefault">Choice of Cheese </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="addOnId" value=" ">
                                            <label class="form-check-label" for="flexCheckDefault">Choose your Egg</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="addOnId" value=" ">
                                            <label class="form-check-label" for="flexCheckDefault">Extra Sides</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="validationCustom12"><b>Item Image</b></label>
                                <div class="custom-file">
                                    <input type="file" accept="image/*" name="itemImage" id="itemImage" class="custom-file-input">
                                    <label class="custom-file-label" for="file" style="cursor: pointer;">Select image</label>
                                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                                </div>
                                <!-- <div class="col-md-8">
                                  <div class="form-group">
                                    <img id="selectedImg" src="#" alt="your image" />
                                  </div>
                                </div> -->

                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom12"><b>Allergy Note</b></label>
                                <!--<div class="input-group">
                                 <textarea rows="3" id="Note"  name="Note" placeholder="GF - Gluten free / D - Contains diary / N - Contains Nuts / SS -sea same seed / SO- soya / V - vegetarian / S spicy.
                                " value="GF - Gluten free / D- Contains diary / N-Contains Nuts / SS -sea same seed / SO- soya / V-vegetarian / S spicy" class="form-control" readonly required></textarea>
                                      <div class="invalid-feedback">
                                         Please provide a message.
                                      </div>
                                   </div> -->
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom12"><b>Description</b></label>
                                <div class="input-group">
                                    <textarea rows="5" id="itemDescription" name="itemDescription" class="form-control"
                                              placeholder="Message"></textarea>
                                    <div class="invalid-feedback">
                                        Please provide a message.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <button type="submit" id="submit" class="btn btn-primary trigger-swal" data-swal="positioned">Add To Menu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/toastr.min.js"></script>

<script>
    var result;
    $("#submit").click(function (e) {
        e.preventDefault();
        debugger;
        var itemName = $('#itemName').val();
        var itemQuantity = $('#itemQuantity').val();
        var itemPrice = $('#itemPrice').val();
        var itemDescription = $('#itemDescription').val();
        var itemMainCategoryId = $('#subcat').val();
        var itemSubCategoryId = $('#subval').val();
        /*var itemAddon = $('#addonId').val();*/
        var addOnId = $('input[type="checkbox"]:checked');
        var addOnIds = [];
        addOnId.each(function () {
            var addOnIdjson = {};
            addOnIdjson.addOnId = $(this).val();
            addOnIds.push(addOnIdjson);
        });



        var itemMainCategoryName = $('#subcat :selected').text();
        var itemSubCategoryName = $('#subval :selected').text();
        var itemFoodType = $('#itemFoodType :selected').text();
        var itemImage = "ImageURL";
        // var itemImageUrl = $('#selectedImg').attr('src');
        // write code to save image to folder
        var input = document.getElementById("itemImage");
        debugger;
        console.log("Result..........", result);
        debugger;
        file = input.files[0];
        if (file != undefined) {
            formData = new FormData();
            if (!!file.type.match(/image.*/)) {
                formData.append("menuimg", file);
            }
        }
        var APIString = 'http://10.12.14.56:3000/manager/addMenu';
        debugger;
        $.ajax({
            type: 'POST',
            url: APIString,
            data: JSON.stringify({

                itemName: itemName,
                itemMainCategoryId: itemMainCategoryId,
                itemMainCategoryName: itemMainCategoryName,
                itemSubCategoryId: itemSubCategoryId,
                itemSubCategoryName: itemSubCategoryName,
                itemFoodType: itemFoodType,
                itemQuantity: itemQuantity,
                itemPrice: itemPrice,
                addOnIds: addOnIds,
                //  itemImageUrl:'https://d2dbreakfasthouse.azurewebsites.net/manager/assets/menuimg/'+ result,
                itemImageUrl: itemImage,
                itemDescription: itemDescription
            }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                if (data.status) {
                    toastr.success(data.message);
                } else {
                    toastr.error(data.message);
                }
            },
            error: function (ajaxContext) {
                // toastr.success('Record saved', 'Success !!');
                alert("Fail");
            }
        });
    })

    $("#itemImage").change(function () {
        // debugger;
        readURL(this);
    });
    function readURL(input) {
        console.log(input.files, input.files[0])
        // debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                // $('#selectedImg').attr('src', e.target.result);
                console.log('RESULT', reader.result);
                result = reader.result;
            }
            var itemimg = reader.readAsDataURL(input.files[0]); // convert to base64 string
            //  console.log('RESULT',itemimg.result);
        }
    }

    $("#subcat").on('change', function () {
        debugger;
        var getValue = $(this).val();
        var ele = document.getElementById('subval');
        ele.innerHTML = "";
        var APIString = 'http://10.12.14.56:3000/manager/fetchSubCategory';
        debugger;
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: APIString,
            data: JSON.stringify({ mainCategoryId: getValue }),
            dataType: "json",
            success: function (Result) {
                debugger;
                console.log(Result.subCategoryData)
                getValue = "";
                for (var i = 0; i < Result.SubCategoryData.length; i++) {
                    // POPULATE SELECT ELEMENT WITH JSON.
                    ele.innerHTML = ele.innerHTML +
                        '<option value="' + Result.SubCategoryData[i]['subCategoryId'] + '">' + Result.SubCategoryData[i]['subCategoryName'] + '</option>';
                }

            },
            error: function (Result) {
                console.log(Result)
                alert(Result);
            }
        });
    });
    $(document).ready(function () {
        var APIString = 'http://10.12.14.56:3000/manager/fetchMainCategory';
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: APIString,
            data: "{}",
            dataType: "json",
            success: function (Result) {

                $.each(Result.d, function (key, value) {

                    console.log(value)
                    $("#MainCategoryName").append($("<option></option>").val(value.mainCategoryId).html(value.subCategoryName));
                });
                console.log(Result.mainCategoryData)
                var ele = document.getElementById('subcat');
                for (var i = 0; i < Result.mainCategoryData.length; i++) {
                    // POPULATE SELECT ELEMENT WITH JSON.
                    ele.innerHTML = ele.innerHTML +
                        '<option value="' + Result.mainCategoryData[i]['mainCategoryId'] + '">' + Result.mainCategoryData[i]['mainCategoryName'] + '</option>';
                }
            },
            error: function (Result) {
                alert("Error or Error");
            }
        });
    });
</script>

@*to Add Addon*@
@*<script>
        var chaecked = $('input[id="AddOn"]:checked').length;
        $(document).ready(function (e) {
            e.preventDefault();
            if (chaecked > 0) {
                debugger;
                var APIString = 'http://localhost:3000/manager/fetchaddonId'
                $.ajax({
                    type: 'POST',
                    url: APIString,
                    success: function (data) {
                        if (data.status) {
                            $(document).find('.form-check-input.addonid').val(data.addonid);
                        } else {
                            toastr.error(data.message);
                        }
                    }
                });

            }

        })
    </script>*@

<script>
    $(document).ready(function () {
        var ele = $('.addOnCheckboxs').find("input[type='checkbox']");
        ele.innerHTML = "";
        var APIString = 'http://10.12.14.56:3000/manager/getAddOnNames';
        $.ajax({
            type: 'GET',
            url: APIString,
            dataType: "json",
            success: function (Result) {
                debugger;
                console.log("Resulttttttttt", Result.list)
                addMenuAddOnId = Result.list
                let tempArray = [];
                addMenuAddOnId.forEach(function (addOns, index) {
                    let obj = {};
                    var addonID = addOns.addOnId;
                    obj.addonids = addonID;
                    tempArray.push(obj);
                    /* $(document).find('#addonId').val(tempArray);*/
                })
                ele.each(function (index) {
                    $(this).val(tempArray[index].addonids);

                });
            },
        });
    })
</script>
